[submodule "tool_lib/built_lsl"]
	path = tool_lib/built_lsl
	url = ../built_lsl.git
	branch = main
[submodule "lib/com_client"]
	path = lib/com_client
	url = ../com_client.git
[submodule "lib/strANSIseq"]
	path = lib/strANSIseq
	url = ../strANSIseq
	branch = main
